/* =========================================================
   HOST / BASE
   ========================================================= */

:host {
  display: block;
  min-height: 100vh;

  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

/* =========================================================
   BOX SIZING
   ========================================================= */

* {
  box-sizing: border-box;
}
